<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }} | Peacheybyte Studios</title>
    <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=8' | relative_url }}">
  </head>
  <body>

    <main class="main-content">
      <!-- Include the reusable App Header -->
      {% include app-header.html %}

      <!-- Page Specific Markdown Content -->
      {{ content }}

      <!-- Include the Footer -->
      {% include footer.html %}
    </main>

  </body>
</html>
